.coinList {
    text-align: left;
    border: 1px solid #ddd;
}

.loader {
    width: 100%;
    position: absolute;
    left: 45%;
}

.table {
    width: auto;
    margin: 0 auto;
}

.table td, th {
    padding: 8px 40px !important;
}

.btnRefresh, .btnRefresh:hover {
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
}

.css-jxiqlq {
    margin: 0 auto;
}
