.App {
  text-align: center;
}

.title {
  font-size: 30px;
  vertical-align: middle;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
